.form {
    background-color: var(--color-background);
    border-radius: 10px;
    width: 100%;
    margin: 1.5rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    div {
        margin: 1rem auto;
    }

    .progress-bar{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
      

        li {
            background-color:  none;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            border: 1px solid var(--secondary-background);
            transition: all 250ms ease-out;
            transition-delay: 250ms;
            
            &.active {
                background-color: var(--color-primary);
            }

            &.error {
                background-color: var(--color-error);
            }
            
        }

        span {
            height: 0.2rem;
            width: 2rem;
            background-color: var(--secondary-background);
            transition: all 250ms ease-in;

            &.active {
                background-color: var(--color-primary);
            }

            &:last-child {
                display: none;
            }
        }
        
    }

    .form-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 80%;

        span {
            align-self: flex-start;
            font-size: 1.5rem;
            background: none;
            margin-bottom: 0.5rem;
        }

        input[type=text], input[type=email]{
            border: none;
            padding: 0.5rem;
            border-radius: 10px;
            width: 100%;
            border: 1px solid var(--secondary-background);

            &.error{
                border: 1px solid var(--color-error);
            }
    

            &:focus {
                border-radius: 0;
                outline-color: var(--color-primary);
            }
        }

        textarea {
            width: 100%;
            min-height: 8rem;
            resize: none;

            &.error{
                border: 1px solid var(--color-error);
            }
        }
    }

    ul.form-errors {
        color: var(--color-error);
        list-style: disc;

        li{
            border: none;
        }
    }

    .form-button-wrapper {
        display: flex;
        justify-content: flex-end;
        margin: 1rem 0 0.5rem auto;
        width: 40%;
        /*bottom: 0.5rem;
        right: 0.5rem;*/
        
        button {
            font-size: 1rem;
            margin: 0 0.5rem;

            &:nth-child(1) {
                border-radius: 10px 0 0 10px;
            }

            &:nth-child(2) {
                border-radius: 0 10px 10px 0;
            }

            &.disabled {
                background-color: var(--secondary-background);
                cursor: not-allowed;
            }
        }
    }
}

.dark {
    .form {
        border: none;
        background-color: var(--color-dp-04);

        .form-input {

            span {
                background: none;
            }

            input[type=text],input[type=email] {
                background-color: var(--color-dp-12);
                color: var(--color-on-background);
                border: 1px solid var(--color-dp-12);

                &.error{
                    border: 1px solid var(--color-error);
                }

                &:focus {
                    outline: none;
                    border-radius: 10px;
                }
                
                &::placeholder{
                    color: var(--secondary-background);
                }
            }

            textarea {
                background-color: var(--color-dp-12);
                color: var(--color-on-background);
                border: 1px solid var(--color-dp-12);
                border-radius: 10px;

                &.error{
                    border: 1px solid var(--color-error);
                }

                &:focus {
                    outline: none;
                    border-radius: 0px;
                }
                
                &::placeholder{
                    color: var(--secondary-background);
                }
            }

           
        }

        li {
            border: 1px solid var(--color-dp-16);
        }

        span {
            background-color: var(--color-dp-08);
        }

        .form-button-wrapper {
            button.disabled {
                background-color: var(--color-dp-16);
            }
        }
    }
}

@media (max-width: 800px) {
   .form {
        .progress-bar{
            width: 100%;
        }

        .form-button-wrapper {
            margin: 2rem auto 0.5rem;
            width: 90%;
        }
   }
}