.portfolio-item {
    border-radius: 20px;
    background-color: var(--color-background);
    transition: all 500ms ease-in-out;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    
    .portfolio-item-wrapper {
        width: 90%;
        margin: 0.5rem auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            margin: 1rem 0;
            border-radius: 5px;
        }
    
        p {
            color: var(--color-on-background);
            font-size: 1.5rem;
            align-self: flex-start;
        }

        ul {
            width: 100%;
            margin: 0.5rem 0;
            padding: 0.5rem;
            display: flex;
            flex-wrap: wrap;

            li {
                background-color: #696969;
                flex: 40%;
                margin: 0.25rem;
                margin-left: 0;
                border-radius: 10px;
                text-align: center;
                color: white;
            }
        }

        button {
            background-color: var(--color-primary);
            font-size: 1.5rem;
            padding: 0.25rem;
            width: 100%;
            border: none;
            border-radius: 10px;
            transition: all 200ms ease-in-out;
            color: var(--color-on-primary);

            &:hover {
                transform: scale(1);
                background-color: var(--color-secondary);
                color: var(--color-on-secondary);
                cursor: pointer;
            }
        }
    }


    &:hover {
        //transform: scale(1.05);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}

.dark {
    .portfolio-item {
        background-color: var(--color-dp-03);

        &:hover {
            background-color: var(--color-dp-08);
        }

        ul {
            li {
                background-color: #7a7a7a;
            }
        }
    }
}