.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 1rem auto;
    text-align: center;

    h2 {
        font-size: 4.5rem;
        font-weight: 500;
        color: var(--color-on-background);
    }

    span {
        color: var(--color-primary);
        font-size: 2.5rem;
        &.desc {
            font-size: 2rem;
            
        }
    }

    p {
        font-size: 2.5rem;
        color: var(--color-on-background);
        text-align: left;
        align-self: flex-start;
    }

    button {
        color: var(--color-on-primary);
        width: 50%;
        padding: 1rem 2rem;
        border-radius: 20px;
        border: none;
        background-color: var(--color-secondary);
        transition: all 200ms ease-in-out;
        font-size: 2rem;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);

            &::after {
                display: block;
            }
        }
    } 
}

.index-wrapper {
    justify-content: space-around;
    //height: 80vh;
}

.dark {
    button:hover {
        background-color: var(--color-secondary-variant);
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        
       h2 {
           font-size: 3.5rem;
       }
       span {
           font-size: 2rem;

           &.desc {
               font-size: 1.5rem;
           }
       }

       p {
           font-size: 1.5rem;
       }

       button {
           font-size: 1.5rem;
           width: 100%;
       }
    }
}


@import './components/Navbar.scss';
@import './components/Socialbar.scss';

